h1

{
    color:rgb(255, 0, 0);
}

p

{
    color: rgba(255, 0, 0, 0.863);
}

body

{
    background-image:url("desktop-wallpaper-space-stars-black-hole-phone-background-and-mocah-dark-hole-thumbnail.jpg");
    background-size:cover;
    
}

h2

{
    color: rgb(42, 56, 255);
}
